<form action="<{$block.module_url}>/index.php" method="post">
  <{if $block.categories}>
  <div class="logcats" id="b_logcat">
    <{$smarty.const._BL_LOGTICK_CATEGORY}>
    <select name="catid">
      <{foreach from=$block.categories item=label key=value}>
	<option value="<{$value}>"><{$label}></option>
      <{/foreach}>
    </select>
  </div>
  <{/if}>
  <select name="span">
    <option value="30m">30</option>
    <option value="1h" selected="selected">1h</option>
    <option value="2h">2h</option>
    <option value="3h">3h</option>
    <option value="4h">4h</option>
    <option value="5h">5h</option>
    <option value="6h">6h</option>
    <option value="7h">7h</option>
    <option value="8h">8h</option>
  </select>
  <input name="comment" size="10"/>
  <input type="submit" value="<{$smarty.const._BL_LOGTICK_SUBMIT}>"/>
  <input type="hidden" name="opt" value="<{$block.options[0]}>"/>
</form>
<div class="modanchor" style="text-align: right"><a href="<{$block.module_url}>/index.php"><{$smarty.const._BL_LOGTICK_DETAIL}></a></div>
