<{if $localcss}>
<style><!--
<{$localcss}>
--></style>
<{/if}>
<{if $xoops_isuser}>
<div id="logtickview">
  <form method="get" name="logtickview" id="logtickview" onSubmit="return showNewLogs(this); return false;">
    <script type="text/javascript">
<!--//
document.write("<div class='openclose'><input type='checkbox' name='sw' id='sw' onChange='obj=xoopsGetElementById(\"extrasetting\").style; if (this.checked) obj.display=\"block\"; else obj.display=\"none\";'/> <{$smarty.const._MD_SETTING_MORE}></div>");
//-->
    </script>
    <div id="extrasetting">
      <div><{$smarty.const._MD_SHOW_USER}></div>
      <{foreach from=$users item=user}>
	<span class="selectuser"><input type="checkbox" name="uids[]" value="<{$user.uid}>"<{if $user.checked}> checked="checked"<{/if}>/> <{$user.uname}></span>
      <{/foreach}>
      <div><{$smarty.const._MD_SHOW_CATS}></div>
      <{foreach from=$categories item=cat}>
	<span class="selectcat"><input type="checkbox" name="cats[]" value="<{$cat.catid}>"<{if $cat.checked}> checked="checked"<{/if}>/> <{$cat.cname}></span>
      <{/foreach}>
      <div><input type="submit" value="<{$smarty.const._MD_SUBMIT_VIEW}>"/></div>
      <input type="hidden" name="view" id="view" value="<{$now}>"/>
      
    </div>
  </form>
</div>
<{/if}>
<div id="mylist"><{$logresult}></div>
    <script type="text/javascript">
<!--//
var ival = <{if $interval}><{$interval}><{else}>60<{/if}>*1000;
timerid = setTimeout(autoRedraw, ival);
<{if $smarty.get.sw}>
xoopsGetElementById('sw').checked = true;
<{else}>
xoopsSetElementStyle('extrasetting', 'display', 'none');
<{/if}>
//-->
</script>
